<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="https://secure-project.herokuapp.com/assets/favicon.ico">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Change Password</title>

        <!-- Bootstrap Core CSS -->
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../assets/css/metisMenu.min.css" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="../assets/css/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../assets/css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div id="expired-text" style="display: none; text-align: center; margin-top: 50px;" >
            <h1>Your reset link has expired!</h1>
        </div>
        <div id="wrapper" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Change Password</h3>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <fieldset>
                                        <div class="form-group">
                                            <input id="new-pass" class="form-control" placeholder="New Password" name="new_password" type="password">
                                        </div>
                                        <div class="form-group">
                                            <input id="new-confirm-pass" class="form-control" placeholder="Confirm Password" name="new_password" type="password">
                                        </div>
                                        <button id="change-password-link" onclick="doUpdatePassword();" class="btn btn-lg btn-success btn-block">Apply</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="../assets/js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../assets/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../assets/js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../assets/js/startmin.js"></script>

        <!-- Toastr JS -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script type="text/javascript">

            const params = new URLSearchParams(document.location.search);
            const email = params.get("email");


            if(!email) {
                window.location.href="https://secure-project.herokuapp.com/login.html";
            }

            checkTokenTime();

            function doUpdatePassword() {

                var password_info = {
                    "new_password": $("#new-pass").val(),
                    "confirm_password": $("#new-confirm-pass").val(),
                    "email": email
                };
        
                $("#change-password-link").prop('disabled', true);
        
                $.ajax({
                    type: "POST",
                    url: "https://secure-project.herokuapp.com/api/resetpassword",
                    data: password_info,
                    success: function(data) {
                        if(data['status'] == 'error') {
                            toastr.error(data['response']);
                            $("#change-password-link").prop('disabled', false);
                        } else {
                            toastr.success(data['response']);
                            $("#change-password-link").prop('disabled', false);
                            document.getElementById('new-pass').value = '';
                            document.getElementById('new-confirm-pass').value = '';
                            window.location.href="https://secure-project.herokuapp.com/login.html";
                        }
                    }
                });
            }

            function checkTokenTime() {
                $.ajax({
                    type: "POST",
                    url: "https://secure-project.herokuapp.com/api/check_token",
                    data: {"email" : email},
                    success: function(data) {
                        if(data['status'] == 'error') {
                            toastr.error(data['response']);
                            document.getElementById("expired-text").style.display = "initial";
                            document.getElementById("wrapper").style.display = "none";
                        } else {
                            document.getElementById("wrapper").style.display = "initial";
                        }
                    }
                });
            }
        </script>
    </body>
</html>
